// ------------------------------------------------------------------
// Shower List
// ------------------------------------------------------------------

.shower--list {

	padding:0 0 7px 7px;
	width:100%;
	display:flex;
	flex-wrap:wrap;

	background:#585A5E url(../images/linen.png);
	@include retina {
		background-image:url(../images/linen@2x.png);
		background-size:256px;
		}

	// IE10-11 scrolling fix

	position:absolute;
	clip:rect(0, auto, auto, 0);

	@import '../caption/caption--list';
	@import '../section/section--list';
	@import '../badge/badge--list';

	}
