// ------------------------------------------------------------------
// Badge
// ------------------------------------------------------------------

.badge {

	position:absolute;
	top:0;
	right:0;
	overflow:hidden;
	visibility:hidden;
	width:11em;
	height:11em;
	line-height:2.5;
	font-size:10px;

	@include scale-breakpoint(2) {
		font-size:15px;
		}

	// Link

	a {

		position:absolute;
		bottom:50%;
		right:-50%;
		left:-50%;
		visibility:visible;
		background:$blue;
		box-shadow:0 0 1em rgba(#000, 0.3);
		color:#FFF;
		text-decoration:none;
		text-align:center;
		transform-origin:50% 100%;
		transform:rotate(45deg) translateY(-1em);

		&:hover {
			background:lighten($blue, 3%);
			}

		}

	}
