// ------------------------------------------------------------------
// Section (Slide)
// ------------------------------------------------------------------
// 1. Number ........... Red ribbon with page number
// 2. Elements ......... Content elements
// 3. Modifiers......... Slide modifiers
// ------------------------------------------------------------------

.shower > section {

	position:relative;
	z-index:1;
	overflow:hidden;
	padding:106px 100px 0;
	width:$width;
	height:$height;
	background:#FFF;
	font-size:25px;

	// Number

	&:after {
		position:absolute;
		top:0;
		right:100px;
		padding-top:15px;
		width:50px;
		height:100px;
		background:url(../images/ribbon.svg) no-repeat;
		color:#FFF;
		counter-increment:slide;
		content:counter(slide);
		text-align:center;
		}

	// Elements

	@import 'basic';
	@import 'inline';
	@import 'quote';
	@import 'lists';
	@import 'table';
	@import 'code';
	@import 'double';
	@import 'shout';
	@import 'cover';
	@import 'place';
	@import 'footer';

	// Modifiers

	@import 'section--grid';
	@import 'section--black';
	@import 'section--white';

	}
