// ------------------------------------------------------------------
// Section: Grid
// ------------------------------------------------------------------

&.grid {

	background-image:
		url(../images/grid.png),
		url(../images/guides.png);
	@include retina {
		background-image:
			url(../images/grid@2x.png),
			url(../images/guides@2x.png);
		background-size:
			25px,
			$width auto;
		}

	// Crisp guides

	image-rendering:pixelated;

	}
