// -------------------------------
// Defaults
// -------------------------------

$ratio:16/10;
$width:1024px;
$height:$width/$ratio;
$gap:100px;

$blue:#4B86C2;
$yellow:#FAFAA2;
$grey:#585A5E;

// Retina detection

@mixin retina {
	@media (-webkit-min-device-pixel-ratio:2), (min-resolution:192dpi) {
		@content;
		}
	}

// Underliner

@mixin underline($color, $width) {
	background:
		linear-gradient(
			to top,
			$color,
			$color #{$width}em,
			transparent #{$width}em,
			transparent
		) repeat-x;
	}

// MQ for scaled breakpoints

@mixin scale-breakpoint($scale) {
	@include breakpoint(2 * ($width / $scale) + ($gap / $scale) * 3) {
		@content;
		}
	}
