// ------------------------------------------------------------------
// Print
// ------------------------------------------------------------------

@page {
	margin:0;
	size:$width $height;

	section {
		page-break-after:always;
		}
	}
