// ------------------------------------------------------------------
// Content Full
// ------------------------------------------------------------------
// 1. Next ............. Step-by-step content revealing system
// 2. Shout ............ Animations for large isolated headings
// ------------------------------------------------------------------

// Next

.next {

	visibility:hidden;
	&.active {
		visibility:visible;
		}

	}

// Shout

.shout {

	&.grow,
	&.shrink {
		opacity:0;
		transition:0.4s ease-out;
		transition-property:opacity, transform;
		}
	&.grow {
		transform:scale(0.1) translateY(-50%);
		}
	&.shrink {
		transform:scale(10) translateY(-50%);
		}

	}

&:target .shout {

	&.grow,
	&.shrink {
		opacity:1;
		transform:scale(1) translateY(-50%);
		}

	}
