// -------------------------------
// Progress Full
// -------------------------------

.shower__progress {

	position:absolute;
	left:-30px;
	bottom:0;
	z-index:1;
	display:block;
	width:0;
	height:0;
	box-sizing:content-box;
	border:15px solid $blue;
	border-right-color:transparent;
	transition:width 0.2s linear;
	clip:rect(15px, $width+30px, 30px, 30px);

	&[style*='100%'] {
		padding-left:15px;
		}

	}
