// ------------------------------------------------------------------
// Section Types
// ------------------------------------------------------------------
// 1. Grid ............. Modular grid & guides for slide content
// 2. Black ............ Black slide type with hidden red ribbon
// 3. White ............ White slide type with hidden red ribbon
// ------------------------------------------------------------------

> section {

	// Grid

	&.grid {

		background-image:
			url(../images/grid.png),
			url(../images/guides.png);
		@include retina {
			background-image:
				url(../images/grid@2x.png),
				url(../images/guides@2x.png);
			background-size:
				25px,
				$width auto;
			}

		-ms-interpolation-mode:nearest-neighbor;
		image-rendering:-webkit-optimize-contrast;
		image-rendering:-moz-crisp-edges;
		image-rendering:crisp-edges;

		}

	// Black

	&.black {
		background-color:#000;
		&:after {
			visibility:hidden;
			}
		}

	// White

	&.white {
		background-color:#FFF;
		&:after {
			visibility:hidden;
			}
		}

	}
