// -------------------------------
// Section
// -------------------------------

> section {

	position:relative;
	z-index:1;
	overflow:hidden;
	padding:115px 100px 0;
	width:$width;
	height:$height;
	background:#FFF;
	font-size:25px;

	// Number

	&:after {
		position:absolute;
		top:0;
		right:100px;
		padding-top:15px;
		width:50px;
		height:100px;
		background:url(../images/ribbon.svg) no-repeat;
		color:#FFF;
		counter-increment:slide;
		content:counter(slide);
		text-align:center;
		}

	// Content

	@import 'content';

	}
