// -------------------------------
// Section List
// -------------------------------

> section {

	transform-origin:0 0;

	@mixin scale($scale) {
		margin:0 (0 - $width * (1 - 1 / $scale)) ($gap / $scale - $height * (1 - 1 / $scale)) $gap / $scale;
		transform:scale(1 / $scale);
		}

	@include scale(4);

	@each $scale in 2, 1 {
		@include scale-breakpoint($scale) {
			@include scale($scale);
			}
		}

	@import 'footer--list';

	}
