// -------------------------------
// Section Full
// -------------------------------

> section {

	position:fixed;
	top:50%;
	left:50%;
	visibility:hidden;
	box-shadow:0 0 0 50vmax #000;
	transform:translate(-50%, -50%);

	&:target {
		visibility:visible;
		}

	@import 'content--full';
	@import 'footer--full';

	}
