// -------------------------------
// Section Full
// -------------------------------

> section {

	position:fixed;
	top:50%;
	left:50%;
	margin:0;
	box-shadow:0 0 0 50vmax #000;
	transform:translate(-50%, -50%);

	&:target {
		z-index:2;
		}

	// Footer

	> footer {
		display:none;
		}

	}
