// -------------------------------
// Shower
// -------------------------------

.shower {

	counter-reset:slide;
	font:25px/2 PT Sans, sans-serif;

	a {
		@include underline(currentColor, 0.09);
		color:$blue;
		text-decoration:none;
		}

	// Elements

	@import 'caption';
	@import 'badge';
	@import 'progress';

	// Section

	@import 'section';

	// Screen

	@media screen {
		@import 'shower--list';
		@import 'shower--full';
		}

	}
