// ------------------------------------------------------------------
// Shower (Presentation)
// ------------------------------------------------------------------

.shower {

	counter-reset:slide;
	font:25px/2 PT Sans, sans-serif;

	-webkit-print-color-adjust:exact;
	-webkit-text-size-adjust:none;
	-moz-text-size-adjust:none;
	-ms-text-size-adjust:none;

	a {
		@include underline(currentColor, 0.09);
		color:$blue;
		text-decoration:none;
		}

	@import 'caption';
	@import 'badge';
	@import 'progress';
	@import 'section';
	@import 'section--types';
	@import 'liveregion';

	// Screen

	@media screen {
		@import 'shower--list';
		@import 'shower--full';
		}

	// Print

	@media print {
		text-rendering:geometricPrecision;
		}

	}
